.comment.clearfix.span8
  .row
    .avatar.span1
      %img{ src: comment.author.image, width: 50, height: 50 }
    .span7{:id => "comment_#{comment.id}"}
      .info.row
        .span3
          %span.index
          %span.name= comment.author.name
        .span4
          %span.separator= "|"
          %span.datetime= finnishTime(comment.created_at)
      .body.row
        .span7= markdown(comment.body)
