.row
  = render 'ideas_header', title: t('@@@Esimerkkejä ideoista'), span: 'span8'
  - i = 0
  - @ideas.in_groups_of((@ideas.length % 2 == 0) ? @ideas.length / 2 : (@ideas.length / 2 + 1)).each do |ideas_column|
    .span4
      - ideas_column.each do |idea|
        .idea
          .info.statistics
            .infotext
              %h3=link_to shorten(idea.title, 100, 20, '»'), idea_path(idea), id: "ab_ideas_#{i+=1}"
              %p=link_to shorten(idea.summary, 100, 20, '»'), idea_path(idea), id: "ab_ideas_#{i}"
            - for_, against, comments, total = @idea_counts[idea.id]
            %span.total #{total} ääntä:&nbsp;
            %span.for #{for_}
            |
            %span.against #{against}
            %span.front-page-comment-count= link_to "#{comments}", idea_path(idea, anchor: 'comments')
  =link_to 'Listaa kaikki»', ideas_path, class: 'list_ideas'
