- if citizen_signed_in?
  %li
    %img{class: 'avatar', src: current_citizen.image, width: 25, height: 25, alt: "avatar" }
    %span{class: 'citizen_name'}
      #{current_citizen.name}
  %li= link_to t('profile'), profile_path
  %li= link_to t('edit profile'), edit_profile_path
  %li= link_to t('logout'), destroy_citizen_session_path, method: :delete
- else
  %li= link_to t("register"), new_citizen_registration_path
  %li= link_to t("login"), citizen_omniauth_authorize_path(:facebook)
  %li= link_to t("Facebook login"), citizen_omniauth_authorize_path(:facebook)
