!!! 5
/[if lt IE 9] <html class="ie">
/[if gte IE 9] <html>
%head
  %meta{ charset: 'utf-8' }
  %meta{ content: 'IE=edge,chrome=1', http_equiv: 'X-UA-Compatible' }
  %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
  %meta{ content: asset_path('avoinministerio.png'), property: 'og:image' }
  %meta{ content: 'Avoin ministeriö', property: 'og:site_name' }

  %title
    = yield :title
  %link{ href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/x-icon' }
  = stylesheet_link_tag 'application.css', media: 'screen'

  %body
    .navbar.navbar-inverse.navbar-fluid-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .container.nav-collapse.pull-left
            %ul.nav
              %li= link_to t('ideas list'), ideas_path
              %li= link_to t('new idea'), new_idea_path
          .container.nav-collapse.pull-right
            %ul.nav
              = render 'login_actions'
              = render partial: 'facebook_js'
    .container.top_container
      .row
        .span6
          = link_to image_tag('logo.png'), root_path, id: 'logo'

  .container
    .row
      .idea.span12
        .body
          = yield