!!! 5
%html(lang="fn")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : ::I18n.t("Open Ministry")
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", media: 'all'
    - unless ie8?
      =# stylesheet_link_tag 'responsive', media: 'screen'
      =# stylesheet_link_tag 'media'
    = javascript_include_tag "application"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="favicon.ico" rel="shortcut icon")
    :javascript
      if (window.location.hash == '#_=_') {
        if (console && 'function' == typeof console.warn) console.warn("Remove this ugly Facebook auth hax when https://developers.facebook.com/bugs/196125357123225 is fixed.");
        window.location.href = window.location.toString().split("#")[0];
      }
    :javascript
      #{KM.js}
  %body
    .navbar.navbar-inverse.navbar-fluid-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: root_path}
            = ::I18n.t "Open Ministry"
          .container.nav-collapse.pull-left
            %ul.nav
              %li= link_to t("ideas list"), ideas_path
              %li= link_to t("new idea"), new_idea_path
          .container.nav-collapse.pull-right
            %ul.nav
              = render 'login_actions'
              = render partial: 'facebook_js'
    %header.container
      = survey_button
    #content.container
      .row
        .span12
          = bootstrap_flash
      = yield
    %footer.container-fluid
      .container
        .row
          %a.span3{ href: "/artikkelit/miten-palvelu-toimii" } Miten palvelu toimii?
          %a.span3{ href: "/artikkelit/asiantuntijoille-ja-tutkijoille" } Asiantuntijoille
          %a.span3{ href: "/artikkelit/medialle" } Medialle

          .span3
            %div{:class => "addthis_toolbox addthis_default_style"}
              %a{:class => "addthis_button_preferred_1"}
              %a{:class => "addthis_button_preferred_2"}
              %a{:class => "addthis_button_preferred_3"}
              %a{:class => "addthis_button_preferred_4"}
              %a{:class => "addthis_button_compact"}
              %a{:class => "addthis_counter addthis_bubble_style"}

        .row
          %a.span3{ href: "/artikkelit/20-usein-kysyttyja-kysymyksia" } Usein kysytyt kysymykset
          %a.span3{ href: "/artikkelit?article_type=blog" } Blogikirjoitukset
          .span6
            == &nbsp;
        .row
          %a.span3{ href: "/artikkelit/yhteystiedot" } Yhteystiedot
          %a.span3{ href: "/artikkelit/kayttoehdot" } Käyttöehdot
          %a.span6{ href: "/artikkelit/rekisteriseloste" } Rekisteriseloste

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:type => "text/javascript", :src => "//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f201d4978456053"}

    = render :partial => 'ga' if ENV["GA_TRACKING_ID"]
    = render :partial => 'metrify' if Rails.env == 'production'